
<div ng-app="calculator_app" ng-controller="calculator_controller">
  <input type="text" ng-model="command">

  <input type="button" ng-click= "calculate()" value="calculate">

  <div id="result">{{result}} </div>

  <div id="commandHistory" >
    <li ng-repeat=" cmd in commands track by $index"> {{ cmd }} </li>
  </div>

</div>